body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D7186;
    width: 864px;
    height: 650px;
}
.container{
    display: grid;
    grid-template-columns: 289px 312px auto;
    /* width: 864px;
    height: 637px; */
    border-radius: 40px;
    background-color: #FFFFFF;
}
h2{
    font-size: 14px;
    font-family: 'Fira Sans';   
}
p{
    font-size: 11px;
    font-family: 'Fira Sans';
    color: #717886;
    line-height: 15px; 
}
.column1{
   position: relative;
    /* background-color: aqua; */
    height: 637px;
}
.column1 .image{
    position: absolute;
    /* border: 2px solid blue; */
    width: 235px;
    height: 341px;
    margin: 48px 0 248px 54px;
    border-radius: 26px;
}
.column1 .table{
    position: absolute;
    margin: 419px 42px 143px 87px;
    width: 160px;
    height: 75px;
    /* background-color: rgb(151, 151, 202); */
    font-size: 11px;
    font-family: 'Fira Sans';
}
.table td{
    color: #717886;
    text-align: end;
}
.table th{
    text-align: start;
}
.column2{
    position: relative;
    height: 637px;
    /* background-color: aquamarine; */
}
.about{
    /* background-color: gray; */
    width: 208px;
    height: 162px;
    margin: 48px 44px 427px 60px;
}
.goals{
    width: 208px;
    height: 129px;
    /* background-color: purple; */
    margin: 48px 41px 10px 14px ;
}
.needs{
    /* background-color: saddlebrown; */
    width: 208px;
    height: 107px;
    margin: 10px 41px 5px 14px;
}
.point{
    /* background-color: salmon; */
    position: absolute;
    width: 208px;
    height: 195px;
    font-size: 11px;
    font-family: 'Fira Sans';
    color: #717886;
    margin: 5px 41px 149px 14px ;    
}
.point h2{
    font-size: 14px;
    font-family: 'Fira Sans';
    color: black;
}
.point ul{
    padding-left: 20px;
    line-height: 15px;
}
footer{
    /* background-color: seagreen; */
    position: absolute;
    width: 688px;
    height: 138px;
    margin: 499px 176px 0 0;
}
.personality{
    /* background-color: sandybrown; */
    width: 634px;
    height: 67px;
    margin: 25px 0 46px 54px;
}

.maindiv{
   display: flex;
   justify-content: space-between;
}
.slider{
    /* background-color: yellowgreen; */
    width: 193px;
    font-size: 11px;
    font-family: 'Fira Sans';
    color: #717886;
    display: grid;
    margin-top: -8px;
    
}
.first{
    display: grid;
    grid-template-columns: 96.5px 96.5px;
    grid-template-rows: auto;
    color: #717886;  
}
.first2{
    /* background-color: oldlace; */
    display: grid;
    grid-template-columns: 96.5px 96.5px;
    grid-template-rows: auto;
    color: #717886;
}
div img{
    width: 195px;
    height: 8px;
}
.intro{
    text-align: end;
}

.image4{
    /* background-color: rgba(128, 255, 0, 0.384); */
    position: absolute;
    width: 179px;
    height: 165px;
    margin: 1px 29px 64px 680px;
    margin-top: -110px;
}
.image4 img{
    position: absolute;
    width: 172px;
    height: 130px;
}
.about1{
    position: absolute;
    background-color: #ee4b15ef;
    border-radius: 17px;
    margin: auto;
    width: 335px;
    height: 269px;
    margin: 230px 263px 138px 266px;
}
.image1 img{
    /* background-color: red; */
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 35px 275px 211px 30px;
}
.info p{
    position: absolute;
    width: 278px;
    height: 131px;
    /* background-color: palegreen; */
    margin: 81px 27px 57px 30px;
    line-height: 15px;
    font-size: 11px;
    font-family: 'Fira Sans';
    color: #FFFFFF;
}
